<div id="post-{{id}}" class="card">
    <img class="card-image" src="{{thumbnail}}" alt="Missing image">
    <div class="card-body">
        <p class="card-title">{{title}}</p>
        <p class="card-text">{{description}}</p>
        <button id="post-details" onclick="location.href='/getPost/{{id}}'" type="button">Post Details</button>
    </div>
</div>