<div class="view">
    <div id="image">
        <img src="/{{currentPost.photopath}}">
    </div>
    <div id="image">
        <div id="post-info">
            <div id="image-title">
                <label>Image Title: </label>
                {{currentPost.title}}
            </div>
            <div id="image-author">
                <label>Image Author: </label>
                {{currentPost.username}}
            </div>
            <div id="creation-time">
                <label>Image Creation Time: </label>
                {{currentPost.created}}
            </div>
            <br/>
            <div id="description">
                <label>Description: </label>
                {{currentPost.description}}
            </div>
            <br/>
        </div>
    </div>
    <div id="image">
        <div id="post-info">
            <h2>Comments</h2>
            <div id="comment-section">
            </div>
        </div>
        <input id="comment-text" name="comment-text" type="text" placeholder="Type a comment here!">
    </div>
    <br />
    <br />
</div>
